name: CI
on:
  - push
  - pull_request

jobs:

  main-test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "Linux: Node 20"
            # Includes firefox, chromium, microsoft-edge
            # https://github.com/actions/runner-images/blob/ubuntu24/20241215.1/images/ubuntu/Ubuntu2404-Readme.md
            os: ubuntu-24.04
            node: 20.x

          - name: "Linux: Node 22"
            os: ubuntu-24.04
            node: 22.x

          - name: "Linux: Node 24"
            os: ubuntu-24.04
            node: 24.x

          # Includes Firefox, Google Chrome, Microsoft Edge
          # https://github.com/actions/runner-images/blob/win22/20241211.1/images/windows/Windows2022-Readme.md
          - name: "Windows: Node 22"
            os: windows-latest
            node: 22.x

          # Includes Firefox, Google Chrome, Microsoft Edge, Safari
          # https://github.com/actions/runner-images/blob/macos-15-arm64/20251104.0104/images/macos/macos-15-arm64-Readme.md
          - name: "macOS: Node 22"
            os: macos-latest
            node: 22.x

    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    env:
      FORCE_COLOR: "1"
    steps:
      - uses: actions/checkout@v4

      - uses: actions/cache@v4
        if: ${{ runner.os != 'Windows' }}
        with:
          path: |
            ~/.npm
          key: ${{ runner.os }}-${{ hashFiles('**/package.json') }}

      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}

      - run: npm install

      - run: npm test

      - name: Test local browsers (Firefox)
        run: node bin/qtap.js -b firefox -r none -v --timeout 60 test/fixtures/pass.html

      - name: Test local browsers (Chrome)
        run: node bin/qtap.js -b chrome -r none -v --timeout 60 test/fixtures/pass.html

      - name: Test local browsers (Chromium)
        run: node bin/qtap.js -b chromium -r none -v --timeout 60 test/fixtures/pass.html

      - name: Test local browsers (Edge)
        run: node bin/qtap.js -b edge -r none -v --timeout 60 test/fixtures/pass.html

      - name: Test local browsers (Safari)
        if: ${{ runner.os == 'macOS' }}
        run: node bin/qtap.js -b safari -r none -v --timeout 60 test/fixtures/pass.html
